
<ol reversed class="prodlist" >
{% for product in prodlist | reverse %}
  <li class="prodlist__item">
    <a href="{{ product.url | url }}" class="prodlist__link">
          {% if product.data.img and product.data.description%}
            {% image product.data.img, product.data.description, "300px"  %}
          {% elif product.data.img %}
            {% image product.data.img, product.data.title, "300px"  %}
          {% else %}
            <img src="{{ '/img/logo-bw.svg' | url }}", alt="{{ product.data.description }}" width="300" height="300" >
          {% endif %}
    </a>
    <a href="{{ product.url | url }}" class="prodlist__title-link">
      <h3 class="prodlist__title">{{ product.data.title }}</h3>
    </a>
    {% if product.data.height %}
    <p class="prodlist__attribute">{{ product.data.width }}x{{ product.data.length }}</p>
    {% endif %}
    {% if product.data.thickness %}
      <p class="prodlist__attribute">{{ product.data.wood }}</p>
    {% endif %}
    <ul class="prodlist__tagslist tags">
      {% for tag in product.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <li class="tags__item">
            <a href="{{ tagUrl | url }}" class="tags__link {{ tag }}">{{ tag }}</a>
          </li>
        {%- endif -%}
      {% endfor %}
    </ul>
    <p class="prodlist__text">{{ product.data.description }}</p>
    <a href="{{ product.url | url }}" class="prodlist__button button">Ver mas</a>
  </li>
{% endfor %}
</ol>
