---
layout: layouts/home.njk
permalink: /productos/
title: productos
eleventyNavigation:
  key: productos
  order: 2
---

<h1>productos</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
