---
layout: layouts/base.njk
templateClass: tmpl-inner
---

<header class="page__title-block container">
  <h1 class="page__title">{{ title }}</h1>
</header>

<article class="page__content container">
  {{ content | safe }}
</article>
