.page{
  background-color: $color-white;
  background-image:
    url(../img/main-bg.jpg),
    linear-gradient(to bottom, lighten($color-bg-dark, 10) 300px, $color-white 600px);
  background-size: 100%;
  background-attachment: fixed;
  @media (min-width: $lg) and (min-resolution: 2dppx) {
    background-image:
      url(../img/main-bg@2x.jpg),
      linear-gradient(to bottom, lighten($color-bg-dark, 10) 300px, $color-white 600px);
  }
  &__title-block{
    min-height: 320px;
    padding-top: 1rem;
    text-align: center;
    @include media(md){
      min-height: 350px;
    }
  }
  &__title{
    margin-top: 130px;
    margin-bottom: 61px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    text-transform: capitalize;
    color: $color-white;
  }
  &__cta-button{
    //todo: general button style!!!!!
    display: inline-block;
    margin-bottom: 70px;
    min-width: 170px;
    min-height: 40px;
    padding: .6em 1em;
    font-size: 16px;
    line-height: 19px;
    color: $color-white;
    text-decoration: none;
    background: $color-accent;
    border: 1px solid $color-accent;
    border-radius: 2px;
  }
  &__content{
    background-color: $color-white;
  }
}
