//colors
$color-text: #2e0e0b;
$color-accent: #d5472e;
$color-accent-light: #ffd569;

$color-bg: #67252f;
$color-bg-dark: #390f21;
$color-bg-light: #da7341;

$color-white: #ffffff;


$red: #C5004A;
$darkred: #7F0036;
$lightgray: #e0e0e0;
$gray: #C0C0C0;
$darkgray: #333;
$navy: #17050F;
$blue: #082840;
$white: $color-white;


//grid:
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$padding: 16px;
