---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{#<pre>#}
{#{%- for item in collections.madera  -%}#}
{#  {{ item.data.collections | console }}#}
{#{%- endfor -%}#}
{#</pre>#}
<header class="page__title-block container">
  <h1 class="page__title">Latest 3 Posts</h1>
  <a href="{{ '/productos/' | url }}" class="page__cta-button button --accent">
    Ver productos
  </a>
</header>
<section class="page__content container">
  <h2 class="visually-hidden">{{ benefits }}</h2>

  {% set postslist = collections.productos | head(-3) %}
    {% set postslistCounter = collections.productos | length %}
    {% include "postslist.njk" %}

{#  {% set features = features %}#}
{#  {% set postslist = collections.productos | head(-3) %}#}
  {% set features = features  %}
  {% include "benefits.njk" %}

   <a href="{{ '/productos/' | url }}">todos productos</a>



</section>
<section class="page__products --accent-bg">

</section>



