---
layout: layouts/inner.njk
permalink: /madera/
title: madera
eleventyNavigation:
  key: madera
  parent: productos
  order: 2
---

<h1>{{ madera }}</h1>

{% set postslist = collections.madera %}
{% include "postslist.njk" %}
