---
permalink: site.webmanifest
---
{
    "lang": "es_ES",
    "dir": "ltr",
    "description": "{{ 'description'  }}",
    "name": "{{ 'title'  }}",
    "short_name": "{{ 'title'  }}",
    "icons": [
        {
            "src": "{{ '/img/favicon/favicon-192x192.png' | url }}",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "{{ '/img/favicon/favicon-512x512.png' | url }}",
            "sizes": "512x512",
            "type": "image/png"
        }
    ],
    "theme_color": "{{ meta.colors.primary or "#1a1a1a" }}", {#todo: colors???#}
    "background_color": "{{ meta.colors.primary or "#1a1a1a" }}",
    "start_url": "/index.html",
    "display": "standalone",
    "orientation": "natural"
}

