---
layout: layouts/inner.njk
permalink: /madera/
title: madera
eleventyNavigation:
  key: madera
  parent: productos
  order: 2
---


{% set prodlist = collections.madera %}
{% include "prodlist.njk" %}
