---
layout: layouts/inner.njk
permalink: /palets/
title: palets
eleventyNavigation:
  key: palets
  parent: productos
  order: 2
---


{% set prodlist = collections.palets %}
{% include "prodlist.njk" %}
